* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    margin-top: 0;
    padding: 0;
    background-color: whitesmoke;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav-li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

li {
    list-style: none;
}

ul {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#about-me {
    display: flex;
}

#skills {
    background-color: aqua;
    text-align: center;
}

.portatil {
    width: 200px;
    height: 200px;
}

.skills-li {
    list-style: none;
}

#me {
    background-color: brown;
    text-align: center;
}

#me h2,p {
    padding-top: 20px;
}

#proyects {
    width: 100vw;
    text-align: center;
}

#proyects h2 {
    padding: 20px;
    background-color: yellow;
}

.footer-personal-li{
    list-style: none;
}

footer {
    display: flex;
    background-color: antiquewhite;
}

footer > section {
    padding: 0 20px;
    background-color: gray;
    margin: 5px 20px;
}

.footer-personal-li, .socialmedia-li{
    padding: 2px;
}

.proyect-in-section {
    display: flex;
    justify-content: center;
}

.proyects-articles {
    width: 150px;
    height: 250px;
    background-color: teal;
    margin: 5px 15px;
}